<style>
    .Botones {
        width: 100px;
        height: 50px;
        color: white;
        background: #ff6a10;
        border: none;
        border-radius: 2px;
    }

        .Botones:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
</style>

<div style="margin: 0% 0% 10% 40% !important;float: left;" class="d-grid gap-2">

    <a asp-controller="Developers" asp-action="Index"><button class="Botones" type="button">Project Manager</button></a>  <br /><br />

    <a asp-controller="Developers" asp-action="Index"><button class="Botones" type="button">Developer</button></a>  <br /><br />


</div>
<br />
<br />